# apache-airflow==2.10.5


# Librerías para análisis de datos
pandas==2.2.1
sqlalchemy==1.4.49
psycopg2-binary==2.9.9

# Visualización
matplotlib==3.8.4
seaborn==0.13.2

# Testing
pytest==7.1.2

# Jupyter para notebooks
jupyterlab==4.1.6
ipykernel==6.29.4
